In [1]:
import selenium

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

# scrape data for “Data Analyst” Job position in “Bangalore” location from the webpage 'https://www.naukri.com/'    

We  have to scrape first 10 jobs data,
a) job-title, job-location,
b) company_name,
c) experience_required.

In [3]:
driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
# Enter the Job_Title Name:
title=driver.find_element(By.CLASS_NAME,"suggestor-input ")
title.send_keys('Data Analyst')

In [6]:
#Enter the Location Name:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [7]:
#click search button:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
# scrap the jobs title
job_title=[]
title=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title[0:10]:
    job_title.append(i.text)

In [9]:
#scrap the locations-->company_name-->experience_required
location=[]
t=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in t[0:10]:
    location.append(i.text)
    

company=[]
c=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in c[0:10]:
    company.append(i.text)
    
exp=[]
e=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in e[0:10]:
    exp.append(i.text)

In [10]:
job_title

['Data Analyst',
 'Tech Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [11]:
location

['Bangalore/Bengaluru',
 'Hybrid - Bangalore/ Bengaluru, Karnataka, Gurgaon/ Gurugram, Haryana',
 'Bangalore/ Bengaluru, Karnataka',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Chennai',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Delhi / NCR',
 'Hybrid - Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR']

In [12]:
company

['Target',
 'Wipro',
 'Artech',
 'Brunel',
 'Hitachi Energy',
 'Hitachi Ltd.',
 'HARMAN',
 'Aon',
 'Aon',
 'Tata Consultancy Services (TCS)']

In [13]:
exp

['2-4 Yrs',
 '3-6 Yrs',
 '5-8 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '6-9 Yrs',
 '6-9 Yrs',
 '5-10 Yrs']

In [14]:
#make a DataFrame
df=pd.DataFrame({'JOBS_TITLE':job_title,'LOCATION':location,'EXP_REQUIRED':exp})
df

,JOBS_TITLE,LOCATION,EXP_REQUIRED
0,Data Analyst,Bangalore/Bengaluru,2-4 Yrs
1,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",3-6 Yrs
2,Data Analyst,"Bangalore/ Bengaluru, Karnataka",5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,4-6 Yrs
4,Celonis & Salesforce Data Analyst,"Bangalore/Bengaluru, Chennai",3-6 Yrs
5,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,2-7 Yrs
6,Data Analyst,Hybrid - Bangalore/Bengaluru,3-5 Yrs
7,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",6-9 Yrs
8,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",6-9 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",5-10 Yrs

# #scraping data for DataScientist from naukri.com

#We have to scrap,--by entering title--Datascientist,&location--Bangalore

-->Job_title

-->Job_location

-->Company_name

In [15]:
driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")

In [16]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [17]:
#Get the webpage:
driver.get('https://www.naukri.com/')

In [18]:
#Entering the name of job_title:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [19]:
#Enter the Location name:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [20]:
#click in search button:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [23]:
job_title=[]
job_location=[]
company_name=[]

#scraping jobs
title=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title[0:10]:
    job_title.append(i.text)
    
#scraping location
location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    job_location.append(i.text)
    
#scraping company  name
name=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name[0:10]:
    company_name.append(i.text)

In [24]:
#print length:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [25]:
#make a DataFrame:
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name})
df

,Job_Title,Job_Location,Company_Name
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart
4,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS)
5,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS)
6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain
7,Director/Senior Director - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India
8,Manager/Senior Manager - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India
9,Data Scientist,Bangalore/Bengaluru,Ericsson

# we have to use the location and salary filter.

-->we have to scrape data for “Data Scientist” designation for first 10 job results.

-->we have to scrape the "job-title", "job-location", "company name", "experience required".

-->The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [36]:
driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")

In [37]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [38]:
#scrap the web page
driver.get('https://www.shine.com/')

In [40]:
#click on designation
designation=driver.find_element(By.XPATH,'/html/body/div[1]/header[2]/div[2]/div[1]/input')
designation.click()

In [41]:
# now enter job title
j=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
j.send_keys('Datascientist')

In [42]:
# click on job search button
search_jobs=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search_jobs.click()

In [43]:
#click on location
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button')
location.click()

In [44]:
#now setting up filter 'Delhi'
loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[7]/span/label')
loc.click()

In [45]:
# now click on close to back to filters
close=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/button')
close.click()

In [46]:
# click on Salary 
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button')
salary.click()

In [47]:
#now setting up filter'3-6lakh'
sal=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
sal.click()

In [48]:
#again click on it back to page
close=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/button')
close.click()

In [49]:
job_title=[]
job_location=[]
company_name=[]
exp=[]

#scraping jobs
title=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title[0:10]:
    job_title.append(i.text)
    
#scraping location
location=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location[0:10]:
    job_location.append(i.text)
    
#scraping company  name
name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in name[0:10]:
    company_name.append(i.text)
    
#scraping experience required 
e=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in e[0:10]:
    exp.append(i.text)

In [50]:
print(len(job_title),len(job_location),len(company_name),len(exp))

10 10 10 10

In [51]:
import pandas as pd
df=pd.DataFrame({'JOB_TITLE':job_title,'JOB_LOCAATION':job_location,'COMPANY_NAME':company_name,'EXP_REQUIRED':exp})
df

,JOB_TITLE,JOB_LOCAATION,COMPANY_NAME,EXP_REQUIRED
0,Data Scientist - Machine Learning,Gurugram,acme services private limited,2 to 7 Yrs
1,Data Scientist,Aurangabad,acme services private limited,2 to 5 Yrs
2,Hiring For Data Scientist,Singapore\n+15,niharika enterprises,0 to 4 Yrs
3,Hiring For Data Scientist,Singapore\n+15,niharika enterprises,0 to 4 Yrs
4,Data Scientists,Mumbai City,acme services private limited,2 to 5 Yrs
5,Data Scientist,Bangalore,acme services private limited,3 to 8 Yrs
6,Data Scientist,Bangalore,acme services private limited,3 to 8 Yrs
7,Legal Data Scientist,Mumbai City,citibank india.,3 to 6 Yrs
8,We have requirement for Data Scientist,Noida,paytm,3 to 8 Yrs
9,"Data Scientist - (BERT, NLP), Kubeflow (or) ML...",Bangalore\n+7,gfl recruitment private limited,1 to 5 Yrs

# scrap 50 most expensive cars

In [52]:
driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")

In [53]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [54]:
driver.get("https://www.motor1.com/")

In [57]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys('50 most expensive cars in the world')

In [58]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [68]:
click_on_search=driver.find_element(By.XPATH,'/html/body/div[3]/div[6]/form/input[2]')
click_on_search.click()

In [70]:
click_on_cars=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
click_on_cars.click()

In [71]:
cars=[]
c=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in c[0:50]:
    cars.append(i.text)

In [72]:
cars

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [74]:
df=pd.DataFrame({'Most_exp_Cars':cars})
df

                      Most_exp_Cars
0                     De Tomaso P72
1                 Ferrari LaFerrari
2                     Pagani Huayra
3                      McLaren Elva
4                       Czinger 21C
5                     Ferrari Monza
6                Gordon Murray T.33
7                 Koenigsegg Gemera
8                       Zenvo TSR-S
9                Hennessey Venom F5
10                  Bentley Bacalar
11    Hispano Suiza Carmen Boulogne
12           Bentley Mulliner Batur
13                     Deus Vayanne
14                      SSC Tuatara
15                      Lotus Evija
16              Aston Martin Vulcan
17                       Delage D12
18                McLaren Speedtail
19                     Rimac Nevera
20                    Pagani Utopia
21             Pininfarina Battista
22                Ferrari FXX K Evo
23               Gordon Murray T.50
24             Lamborghini Countach
25         Mercedes-AMG Project One
26              Aston Martin Victor
27      Hennessey Venom F5 Roadster
28                 Koenigsegg Jesko
29            Aston Martin Valkyrie
30        W Motors Lykan Hypersport
31                    McLaren Solus
32        Pagani Huayra Roadster BC
33         Bugatti Chiron Pur Sport
34                 Lamborghini Sian
35                 Koenigsegg CC850
36  Bugatti Chiron Super Sport 300+
37               Lamborghini Veneno
38                   Bugatti Bolide
39                  Bugatti Mistral
40              Pagani Huayra Imola
41                     Bugatti Divo
42              SP Automotive Chaos
43                 Pagani Codalunga
44         Mercedes-Maybach Exelero
45               Bugatti Centodieci
46          Bugatti Chiron Profilée
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*

# Scrape data of first 100 sunglasses listings on flipkart.com.:
1. Brand
2. ProductDescription
3. Price

In [75]:
 driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")

In [76]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [77]:
driver.get('https://www.flipkart.com/')

In [78]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("sunglasses")

In [79]:
import time

In [81]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [85]:
lense_brand=[]
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')                   
    for Brand in brand[0:100]:
        print(Brand.text)
        lense_brand.append(Brand.text)
    
next_button=driver.find_elements(By.XPATH,'//ass="_1LKTO3"]')
next_button.click()
time_sleep(3)

VINCENT CHASE
VINCENT CHASE
SRPM
Elligator
Fastrack
Elligator
PIRASO
VINCENT CHASE
PIRASO
Elligator
Elligator
VINCENT CHASE
Fastrack
Elligator
Fastrack
Royaltail
Fastrack
PIRASO
Fastrack
ROYAL SON
iCopertina
PIRASO
SUNBEE
VINCENT CHASE
Fastrack
Fastrack
Fastrack
Eyewearlabs
Fastrack
PIRASO
SUNBEE
VINCENT CHASE
Fastrack
Fastrack
VINCENT CHASE
LOUIS KOUROS
PIRASO
GANSTA
Fastrack
Eyewearlabs
VINCENT CHASE
VINCENT CHASE
SRPM
Elligator
Fastrack
Elligator
PIRASO
VINCENT CHASE
PIRASO
Elligator
Elligator
VINCENT CHASE
Fastrack
Elligator
Fastrack
Royaltail
Fastrack
PIRASO
Fastrack
ROYAL SON
iCopertina
PIRASO
SUNBEE
VINCENT CHASE
Fastrack
Fastrack
Fastrack
Eyewearlabs
Fastrack
PIRASO
SUNBEE
VINCENT CHASE
Fastrack
Fastrack
VINCENT CHASE
LOUIS KOUROS
PIRASO
GANSTA
Fastrack
Eyewearlabs
VINCENT CHASE
VINCENT CHASE
SRPM
Elligator
Fastrack
Elligator
PIRASO
VINCENT CHASE
PIRASO
Elligator
Elligator
VINCENT CHASE
Fastrack
Elligator
Fastrack
Royaltail
Fastrack
PIRASO
Fastrack
ROYAL SON
iCopertina
PIRASO
SUNBEE
VINCENT CHASE
Fastrack
Fastrack
Fastrack
Eyewearlabs
Fastrack
PIRASO
SUNBEE
VINCENT CHASE
Fastrack
Fastrack
VINCENT CHASE
LOUIS KOUROS
PIRASO
GANSTA
Fastrack
Eyewearlabs

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression //ass="_1LKTO3"] because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '//ass="_1LKTO3"]' is not a valid XPath expression.
  (Session info: chrome=114.0.5735.91)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00A6A813+48355]
	(No symbol) [0x009FC4B1]
	(No symbol) [0x00905358]
	(No symbol) [0x009087A1]
	(No symbol) [0x009099E1]
	(No symbol) [0x00909A80]
	(No symbol) [0x0093061C]
	(No symbol) [0x00930B3B]
	(No symbol) [0x0095E26C]
	(No symbol) [0x0094A784]
	(No symbol) [0x0095C922]
	(No symbol) [0x0094A536]
	(No symbol) [0x009282DC]
	(No symbol) [0x009293DD]
	GetHandleVerifier [0x00CCAABD+2539405]
	GetHandleVerifier [0x00D0A78F+2800735]
	GetHandleVerifier [0x00D0456C+2775612]
	GetHandleVerifier [0x00AF51E0+616112]
	(No symbol) [0x00A05F8C]
	(No symbol) [0x00A02328]
	(No symbol) [0x00A0240B]
	(No symbol) [0x009F4FF7]
	BaseThreadInitThunk [0x74EB00F9+25]
	RtlGetAppContainerNamedObjectPath [0x76FF7BBE+286]
	RtlGetAppContainerNamedObjectPath [0x76FF7B8E+238]

In [86]:
lense_brand

['VINCENT CHASE',
 'VINCENT CHASE',
 'SRPM',
 'Elligator',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'VINCENT CHASE',
 'PIRASO',
 'Elligator',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Royaltail',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'iCopertina',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Eyewearlabs',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'LOUIS KOUROS',
 'PIRASO',
 'GANSTA',
 'Fastrack',
 'Eyewearlabs',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'SRPM',
 'Elligator',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'VINCENT CHASE',
 'PIRASO',
 'Elligator',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Royaltail',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'iCopertina',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Eyewearlabs',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'LOUIS KOUROS',
 'PIRASO',
 'GANSTA',
 'Fastrack',
 'Eyewearlabs',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'SRPM',
 'Elligator',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'VINCENT CHASE',
 'PIRASO',
 'Elligator',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Royaltail',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'iCopertina',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Eyewearlabs',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'LOUIS KOUROS',
 'PIRASO',
 'GANSTA',
 'Fastrack',
 'Eyewearlabs']

In [87]:
lense_price=[]
start=0
end=3
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for p in price:
        print(p.text)
        lense_price.append(p.text)
next_button=driver.find_elements(By.XPATH,'//ass="_1LKTO3"]')
next_button.click()
time_sleep(3)

₹688
₹636
₹216
₹213
₹499
₹109
₹239
₹679
₹268
₹179
₹149
₹569
₹569
₹149
₹569
₹1,274
₹609
₹214
₹566
₹551
₹199
₹415
₹315
₹749
₹857
₹609
₹609
₹1,999
₹559
₹192
₹259
₹659
₹519
₹869
₹873
₹1,499
₹352
₹311
₹599
₹1,999
₹688
₹636
₹216
₹213
₹499
₹109
₹239
₹679
₹268
₹179
₹149
₹569
₹569
₹149
₹569
₹1,274
₹609
₹214
₹566
₹551
₹199
₹415
₹315
₹749
₹857
₹609
₹609
₹1,999
₹559
₹192
₹259
₹659
₹519
₹869
₹873
₹1,499
₹352
₹311
₹599
₹1,999
₹688
₹636
₹216
₹213
₹499
₹109
₹239
₹679
₹268
₹179
₹149
₹569
₹569
₹149
₹569
₹1,274
₹609
₹214
₹566
₹551
₹199
₹415
₹315
₹749
₹857
₹609
₹609
₹1,999
₹559
₹192
₹259
₹659
₹519
₹869
₹873
₹1,499
₹352
₹311
₹599
₹1,999

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression //ass="_1LKTO3"] because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '//ass="_1LKTO3"]' is not a valid XPath expression.
  (Session info: chrome=114.0.5735.91)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00A6A813+48355]
	(No symbol) [0x009FC4B1]
	(No symbol) [0x00905358]
	(No symbol) [0x009087A1]
	(No symbol) [0x009099E1]
	(No symbol) [0x00909A80]
	(No symbol) [0x0093061C]
	(No symbol) [0x00930B3B]
	(No symbol) [0x0095E26C]
	(No symbol) [0x0094A784]
	(No symbol) [0x0095C922]
	(No symbol) [0x0094A536]
	(No symbol) [0x009282DC]
	(No symbol) [0x009293DD]
	GetHandleVerifier [0x00CCAABD+2539405]
	GetHandleVerifier [0x00D0A78F+2800735]
	GetHandleVerifier [0x00D0456C+2775612]
	GetHandleVerifier [0x00AF51E0+616112]
	(No symbol) [0x00A05F8C]
	(No symbol) [0x00A02328]
	(No symbol) [0x00A0240B]
	(No symbol) [0x009F4FF7]
	BaseThreadInitThunk [0x74EB00F9+25]
	RtlGetAppContainerNamedObjectPath [0x76FF7BBE+286]
	RtlGetAppContainerNamedObjectPath [0x76FF7B8E+238]

In [ ]:
lense_price

In [89]:
product=[]
start=0
end=3
for page in range(start,end):
    pd=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for desc in pd[0:100]:
        print(desc.text)
        product.append(desc.text)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

by Lenskart Polarized, UV Protection Wayfarer Sunglasse...
by Lenskart Polarized, UV Protection Wayfarer Sunglasse...
UV Protection Wayfarer Sunglasses (50)
UV Protection Cat-eye, Retro Square, Oval, Round Sungla...
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Clubmaster Sunglasses (54)
by Lenskart Polarized, UV Protection Aviator Sunglasses...
UV Protection Aviator Sunglasses (Free Size)
UV Protection, Mirrored Wayfarer Sunglasses (54)
UV Protection Round Sunglasses (53)
UV Protection Round Sunglasses (47)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Round Sunglasses (53)
UV Protection Shield Sunglasses (Free Size)
Polarized Rectangular Sunglasses (58)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (56)
UV Protection Wayfarer Sunglasses (Free Size)
Polarized, UV Protection Retro Square Sunglasses (55)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection Over-sized Sunglasses (65)
UV Protection, Polarized Wayfarer Sunglasses (Free Size...
by Lenskart UV Protection Clubmaster Sunglasses (55)
UV Protection Aviator Sunglasses (57)
UV Protection Wayfarer Sunglasses (Free Size)
Polarized, UV Protection Round Sunglasses (51)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (56)
UV Protection, Polarized, Mirrored Retro Square Sunglas...
by Lenskart Polarized, UV Protection Cat-eye Sunglasses...
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (58)
by Lenskart Polarized, UV Protection Retro Square Sungl...
Mirrored, Night Vision, Polarized, Toughened Glass Lens...
UV Protection Aviator Sunglasses (58)
Gradient, UV Protection Aviator Sunglasses (57)
UV Protection Aviator Sunglasses (Free Size)
Polarized, UV Protection Rectangular Sunglasses (55)
by Lenskart Polarized, UV Protection Wayfarer Sunglasse...
by Lenskart Polarized, UV Protection Wayfarer Sunglasse...
UV Protection Wayfarer Sunglasses (50)
UV Protection Cat-eye, Retro Square, Oval, Round Sungla...
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Clubmaster Sunglasses (54)
by Lenskart Polarized, UV Protection Aviator Sunglasses...
UV Protection Aviator Sunglasses (Free Size)
UV Protection, Mirrored Wayfarer Sunglasses (54)
UV Protection Round Sunglasses (53)
UV Protection Round Sunglasses (47)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Round Sunglasses (53)
UV Protection Shield Sunglasses (Free Size)
Polarized Rectangular Sunglasses (58)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (56)
UV Protection Wayfarer Sunglasses (Free Size)
Polarized, UV Protection Retro Square Sunglasses (55)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection Over-sized Sunglasses (65)
UV Protection, Polarized Wayfarer Sunglasses (Free Size...
by Lenskart UV Protection Clubmaster Sunglasses (55)
UV Protection Aviator Sunglasses (57)
UV Protection Wayfarer Sunglasses (Free Size)
Polarized, UV Protection Round Sunglasses (51)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (56)
UV Protection, Polarized, Mirrored Retro Square Sunglas...
by Lenskart Polarized, UV Protection Cat-eye Sunglasses...
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (58)
by Lenskart Polarized, UV Protection Retro Square Sungl...
Mirrored, Night Vision, Polarized, Toughened Glass Lens...
UV Protection Aviator Sunglasses (58)
Gradient, UV Protection Aviator Sunglasses (57)
UV Protection Aviator Sunglasses (Free Size)
Polarized, UV Protection Rectangular Sunglasses (55)
by Lenskart Polarized, UV Protection Wayfarer Sunglasse...
by Lenskart Polarized, UV Protection Wayfarer Sunglasse...
UV Protection Wayfarer Sunglasses (50)
UV Protection Cat-eye, Retro Square, Oval, Round Sungla...
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Clubmaster Sunglasses (54)
by Lenskart Polarized, UV Protection Aviator Sunglasses...
UV Protection Aviator Sunglasses (Free Size)
UV Protection, Mirrored Wayfarer Sunglasses (54)
UV Protection Round Sunglasses (53)
UV Protection Round Sunglasses (47)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Round Sunglasses (53)
UV Protection Shield Sunglasses (Free Size)
Polarized Rectangular Sunglasses (58)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (56)
UV Protection Wayfarer Sunglasses (Free Size)
Polarized, UV Protection Retro Square Sunglasses (55)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection Over-sized Sunglasses (65)
UV Protection, Polarized Wayfarer Sunglasses (Free Size...
by Lenskart UV Protection Clubmaster Sunglasses (55)
UV Protection Aviator Sunglasses (57)
UV Protection Wayfarer Sunglasses (Free Size)
Polarized, UV Protection Round Sunglasses (51)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (56)
UV Protection, Polarized, Mirrored Retro Square Sunglas...
by Lenskart Polarized, UV Protection Cat-eye Sunglasses...
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (58)
by Lenskart Polarized, UV Protection Retro Square Sungl...
Mirrored, Night Vision, Polarized, Toughened Glass Lens...
UV Protection Aviator Sunglasses (58)
Gradient, UV Protection Aviator Sunglasses (57)
UV Protection Aviator Sunglasses (Free Size)
Polarized, UV Protection Rectangular Sunglasses (55)

In [90]:
product

['by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (47)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Mirrored, Night Vision, Polarized, Toughened Glass Lens...',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (47)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Mirrored, Night Vision, Polarized, Toughened Glass Lens...',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (47)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Mirrored, Night Vision, Polarized, Toughened Glass Lens...',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (55)']

In [91]:
print(len(product))

114

In [93]:
import pandas as pd
df=pd.DataFrame({'Lens_Brand':lense_brand,'Lens_Price':lense_price})
df

        Lens_Brand Lens_Price
0    VINCENT CHASE       ₹688
1    VINCENT CHASE       ₹636
2             SRPM       ₹216
3        Elligator       ₹213
4         Fastrack       ₹499
..             ...        ...
115   LOUIS KOUROS     ₹1,499
116         PIRASO       ₹352
117         GANSTA       ₹311
118       Fastrack       ₹599
119    Eyewearlabs     ₹1,999

[120 rows x 2 columns]

# Scrape data for first 100 sneakers from flipkart.com and search for “sneakers” in the
search field.
we have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [94]:
 driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")

In [95]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [96]:
driver.get('https://www.flipkart.com/')

In [97]:
#Entering Sneaker in search bar
search=driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys(" sneaker")

In [99]:
#click pop up
cut=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
cut.click()

In [100]:
#click search button
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [102]:
#click relevent
rel=driver.find_element(By.XPATH,'//div[@class="_10UF8M _3LsR0e"]')
rel.click()

In [103]:
#scraping sneaker Brand
Brand=[]
start=0
end=3
for page in range(start,end):
    b=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in b[0:100]:
        Brand.append(i.text)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
next_button.click()

In [104]:
Brand

['BIRDE',
 'SFR',
 'Labbin',
 'PUMA',
 'PUMA',
 'PUMA',
 'BIRDE',
 'BRUTON',
 'BIRDE',
 'aadi',
 'BRUTON',
 'BIRDE',
 'BRUTON',
 'Kraasa',
 'PUMA',
 "K' Footlance",
 'RapidBox',
 'kardam&sons',
 'aadi',
 'Layasa',
 'kardam&sons',
 'BRUTON',
 'HRX by Hrithik Roshan',
 'PUMA',
 'HRX by Hrithik Roshan',
 'PUMA',
 'BRUTON',
 'Krors',
 'RED TAPE',
 'PUMA',
 'BRUTON',
 'Layasa',
 'HRX by Hrithik Roshan',
 'WHITE WALKERS',
 'Shozie',
 'HIGHLANDER',
 'RapidBox',
 'Magnolia',
 'aadi',
 'aadi',
 'BIRDE',
 'SFR',
 'Labbin',
 'PUMA',
 'PUMA',
 'PUMA',
 'BIRDE',
 'BRUTON',
 'BIRDE',
 'aadi',
 'BRUTON',
 'BIRDE',
 'BRUTON',
 'Kraasa',
 'PUMA',
 "K' Footlance",
 'RapidBox',
 'kardam&sons',
 'aadi',
 'Layasa',
 'kardam&sons',
 'BRUTON',
 'HRX by Hrithik Roshan',
 'PUMA',
 'HRX by Hrithik Roshan',
 'PUMA',
 'BRUTON',
 'Krors',
 'RED TAPE',
 'PUMA',
 'BRUTON',
 'Layasa',
 'HRX by Hrithik Roshan',
 'WHITE WALKERS',
 'Shozie',
 'HIGHLANDER',
 'RapidBox',
 'Magnolia',
 'aadi',
 'aadi',
 'BIRDE',
 'SFR',
 'Labbin',
 'PUMA',
 'PUMA',
 'PUMA',
 'BIRDE',
 'BRUTON',
 'BIRDE',
 'aadi',
 'BRUTON',
 'BIRDE',
 'BRUTON',
 'Kraasa',
 'PUMA',
 "K' Footlance",
 'RapidBox',
 'kardam&sons',
 'aadi',
 'Layasa',
 'kardam&sons',
 'BRUTON',
 'HRX by Hrithik Roshan',
 'PUMA',
 'HRX by Hrithik Roshan',
 'PUMA',
 'BRUTON',
 'Krors',
 'RED TAPE',
 'PUMA',
 'BRUTON',
 'Layasa',
 'HRX by Hrithik Roshan',
 'WHITE WALKERS',
 'Shozie',
 'HIGHLANDER',
 'RapidBox',
 'Magnolia',
 'aadi',
 'aadi']

In [105]:
#scraping sneaker prices
prices=[]
start=0
end=3
for page in range(start,end):
    p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in p[0:100]:
            print(i.text)
            prices.append(i.text)
next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

₹369
₹399
₹1,047
₹599
₹249
₹299
₹499
₹429
₹2,199
₹1,149
₹479
₹339
₹299
₹1,049
₹1,299
₹1,124
₹427
₹359
₹1,259
₹399
₹299
₹479
₹399
₹249
₹329
₹749
₹299
₹549
₹1,248
₹1,224
₹692
₹399
₹1,259
₹719
₹1,099
₹1,124
₹399
₹299
₹439
₹399
₹369
₹399
₹1,047
₹599
₹249
₹299
₹499
₹429
₹2,199
₹1,149
₹479
₹339
₹299
₹1,049
₹1,299
₹1,124
₹427
₹359
₹1,259
₹399
₹299
₹479
₹399
₹249
₹329
₹749
₹299
₹549
₹1,248
₹1,224
₹692
₹399
₹1,259
₹719
₹1,099
₹1,124
₹399
₹299
₹439
₹399
₹369
₹399
₹1,047
₹599
₹249
₹299
₹499
₹429
₹2,199
₹1,149
₹479
₹339
₹299
₹1,049
₹1,299
₹1,124
₹427
₹359
₹1,259
₹399
₹299
₹479
₹399
₹249
₹329
₹749
₹299
₹549
₹1,248
₹1,224
₹692
₹399
₹1,259
₹719
₹1,099
₹1,124
₹399
₹299
₹439
₹399

AttributeError: 'list' object has no attribute 'click'

In [106]:
prices

['₹369',
 '₹399',
 '₹1,047',
 '₹599',
 '₹249',
 '₹299',
 '₹499',
 '₹429',
 '₹2,199',
 '₹1,149',
 '₹479',
 '₹339',
 '₹299',
 '₹1,049',
 '₹1,299',
 '₹1,124',
 '₹427',
 '₹359',
 '₹1,259',
 '₹399',
 '₹299',
 '₹479',
 '₹399',
 '₹249',
 '₹329',
 '₹749',
 '₹299',
 '₹549',
 '₹1,248',
 '₹1,224',
 '₹692',
 '₹399',
 '₹1,259',
 '₹719',
 '₹1,099',
 '₹1,124',
 '₹399',
 '₹299',
 '₹439',
 '₹399',
 '₹369',
 '₹399',
 '₹1,047',
 '₹599',
 '₹249',
 '₹299',
 '₹499',
 '₹429',
 '₹2,199',
 '₹1,149',
 '₹479',
 '₹339',
 '₹299',
 '₹1,049',
 '₹1,299',
 '₹1,124',
 '₹427',
 '₹359',
 '₹1,259',
 '₹399',
 '₹299',
 '₹479',
 '₹399',
 '₹249',
 '₹329',
 '₹749',
 '₹299',
 '₹549',
 '₹1,248',
 '₹1,224',
 '₹692',
 '₹399',
 '₹1,259',
 '₹719',
 '₹1,099',
 '₹1,124',
 '₹399',
 '₹299',
 '₹439',
 '₹399',
 '₹369',
 '₹399',
 '₹1,047',
 '₹599',
 '₹249',
 '₹299',
 '₹499',
 '₹429',
 '₹2,199',
 '₹1,149',
 '₹479',
 '₹339',
 '₹299',
 '₹1,049',
 '₹1,299',
 '₹1,124',
 '₹427',
 '₹359',
 '₹1,259',
 '₹399',
 '₹299',
 '₹479',
 '₹399',
 '₹249',
 '₹329',
 '₹749',
 '₹299',
 '₹549',
 '₹1,248',
 '₹1,224',
 '₹692',
 '₹399',
 '₹1,259',
 '₹719',
 '₹1,099',
 '₹1,124',
 '₹399',
 '₹299',
 '₹439',
 '₹399']

In [107]:
prod_desc=[]
start=0
end=3
for i in range(start,end):
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc[0:100]:
        print(i.text)
        prod_desc.append(i.text)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')[0]
next_button.click()

Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...
Combo Pack Of 2 Casual Shoes Sneakers For Men
Men White Urban Street Athleisure Shoes Sneakers For Me...
Men's W-05 Casual White Sneaker Shoes With Waterproof S...
Latest Exclusive Affordable Collection of Trendy & Styl...
Sneakers For Men
White casual, gym,training & Running sneakers for men's...
Premium White Casual Shoes Sneakers For Men Sneakers Fo...
Shuffle RES Sneakers For Men
Buzz Sneakers For Men
Stylish & Trending Lifestyle Casual Sneakers For Men
Fashionable Canvas Casual Partywear Outdoor Sneakers wh...
Sneakers For Men
Harrow Wns Sneakers For Women
Zod Runner V3 Sneakers For Men
Buzz Sneakers For Men
Fashion Outdoor Canvas Casual Light Weight Lace-up Even...
luxuryfashion fashionable casual sneaker shoes white Sn...
PANAL Sneakers For Men
Sneakers For Men
Sneakers For Men
Stylish & Trending Lifestyle Casual Sneakers For Men
Stylish & Trending Outdoor Walking Comfortable Sneakers...
Lattest Sneakers Shoe Sneakers For Men
JUMP-02 Sneakers For Men
Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily...
Sneakers For Men
Men White Blue Colourblocked Chunky Sneakers Sneakers F...
Men Retro Basket Ball Sneakers Sneakers For Men
Mesh Lightweight | Comfort |Premium | Trendy | Summer &...
Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...
CLARKIN Sneakers For Men
Men White Sneakers Sneakers For Men
Zod Runner V3 Sneakers For Men
Buzz Sneakers For Men
Sneaker for Mens | Casual Shoes | Men Shoes Sneakers Fo...
Sneakers For Men
Sneakers For Women
Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...
Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...
Combo Pack Of 2 Casual Shoes Sneakers For Men
Men White Urban Street Athleisure Shoes Sneakers For Me...
Men's W-05 Casual White Sneaker Shoes With Waterproof S...
Latest Exclusive Affordable Collection of Trendy & Styl...
Sneakers For Men
White casual, gym,training & Running sneakers for men's...
Premium White Casual Shoes Sneakers For Men Sneakers Fo...
Shuffle RES Sneakers For Men
Buzz Sneakers For Men
Stylish & Trending Lifestyle Casual Sneakers For Men
Fashionable Canvas Casual Partywear Outdoor Sneakers wh...
Sneakers For Men
Harrow Wns Sneakers For Women
Zod Runner V3 Sneakers For Men
Buzz Sneakers For Men
Fashion Outdoor Canvas Casual Light Weight Lace-up Even...
luxuryfashion fashionable casual sneaker shoes white Sn...
PANAL Sneakers For Men
Sneakers For Men
Sneakers For Men
Stylish & Trending Lifestyle Casual Sneakers For Men
Stylish & Trending Outdoor Walking Comfortable Sneakers...
Lattest Sneakers Shoe Sneakers For Men
JUMP-02 Sneakers For Men
Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily...
Sneakers For Men
Men White Blue Colourblocked Chunky Sneakers Sneakers F...
Men Retro Basket Ball Sneakers Sneakers For Men
Mesh Lightweight | Comfort |Premium | Trendy | Summer &...
Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...
CLARKIN Sneakers For Men
Men White Sneakers Sneakers For Men
Zod Runner V3 Sneakers For Men
Buzz Sneakers For Men
Sneaker for Mens | Casual Shoes | Men Shoes Sneakers Fo...
Sneakers For Men
Sneakers For Women
Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...
Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...
Combo Pack Of 2 Casual Shoes Sneakers For Men
Men White Urban Street Athleisure Shoes Sneakers For Me...
Men's W-05 Casual White Sneaker Shoes With Waterproof S...
Latest Exclusive Affordable Collection of Trendy & Styl...
Sneakers For Men
White casual, gym,training & Running sneakers for men's...
Premium White Casual Shoes Sneakers For Men Sneakers Fo...
Shuffle RES Sneakers For Men
Buzz Sneakers For Men
Stylish & Trending Lifestyle Casual Sneakers For Men
Fashionable Canvas Casual Partywear Outdoor Sneakers wh...
Sneakers For Men
Harrow Wns Sneakers For Women
Zod Runner V3 Sneakers For Men
Buzz Sneakers For Men
Fashion Outdoor Canvas Casual Light Weight Lace-up Even...
luxuryfashion fashionable casual sneaker shoes white Sn...
PANAL Sneakers For Men
Sneakers For Men
Sneakers For Men
Stylish & Trending Lifestyle Casual Sneakers For Men
Stylish & Trending Outdoor Walking Comfortable Sneakers...
Lattest Sneakers Shoe Sneakers For Men
JUMP-02 Sneakers For Men
Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily...
Sneakers For Men
Men White Blue Colourblocked Chunky Sneakers Sneakers F...
Men Retro Basket Ball Sneakers Sneakers For Men
Mesh Lightweight | Comfort |Premium | Trendy | Summer &...
Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...
CLARKIN Sneakers For Men
Men White Sneakers Sneakers For Men
Zod Runner V3 Sneakers For Men
Buzz Sneakers For Men
Sneaker for Mens | Casual Shoes | Men Shoes Sneakers Fo...
Sneakers For Men
Sneakers For Women
Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...

TypeError: 'WebElement' object is not subscriptable

In [108]:
prod_desc

['Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Men White Urban Street Athleisure Shoes Sneakers For Me...',
 "Men's W-05 Casual White Sneaker Shoes With Waterproof S...",
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Sneakers For Men',
 "White casual, gym,training & Running sneakers for men's...",
 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...',
 'Shuffle RES Sneakers For Men',
 'Buzz Sneakers For Men',
 'Stylish & Trending Lifestyle Casual Sneakers For Men',
 'Fashionable Canvas Casual Partywear Outdoor Sneakers wh...',
 'Sneakers For Men',
 'Harrow Wns Sneakers For Women',
 'Zod Runner V3 Sneakers For Men',
 'Buzz Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'luxuryfashion fashionable casual sneaker shoes white Sn...',
 'PANAL Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Lifestyle Casual Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Lattest Sneakers Shoe Sneakers For Men',
 'JUMP-02 Sneakers For Men',
 'Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily...',
 'Sneakers For Men',
 'Men White Blue Colourblocked Chunky Sneakers Sneakers F...',
 'Men Retro Basket Ball Sneakers Sneakers For Men',
 'Mesh Lightweight | Comfort |Premium | Trendy | Summer &...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'CLARKIN Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Zod Runner V3 Sneakers For Men',
 'Buzz Sneakers For Men',
 'Sneaker for Mens | Casual Shoes | Men Shoes Sneakers Fo...',
 'Sneakers For Men',
 'Sneakers For Women',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Men White Urban Street Athleisure Shoes Sneakers For Me...',
 "Men's W-05 Casual White Sneaker Shoes With Waterproof S...",
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Sneakers For Men',
 "White casual, gym,training & Running sneakers for men's...",
 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...',
 'Shuffle RES Sneakers For Men',
 'Buzz Sneakers For Men',
 'Stylish & Trending Lifestyle Casual Sneakers For Men',
 'Fashionable Canvas Casual Partywear Outdoor Sneakers wh...',
 'Sneakers For Men',
 'Harrow Wns Sneakers For Women',
 'Zod Runner V3 Sneakers For Men',
 'Buzz Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'luxuryfashion fashionable casual sneaker shoes white Sn...',
 'PANAL Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Lifestyle Casual Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Lattest Sneakers Shoe Sneakers For Men',
 'JUMP-02 Sneakers For Men',
 'Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily...',
 'Sneakers For Men',
 'Men White Blue Colourblocked Chunky Sneakers Sneakers F...',
 'Men Retro Basket Ball Sneakers Sneakers For Men',
 'Mesh Lightweight | Comfort |Premium | Trendy | Summer &...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'CLARKIN Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Zod Runner V3 Sneakers For Men',
 'Buzz Sneakers For Men',
 'Sneaker for Mens | Casual Shoes | Men Shoes Sneakers Fo...',
 'Sneakers For Men',
 'Sneakers For Women',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Men White Urban Street Athleisure Shoes Sneakers For Me...',
 "Men's W-05 Casual White Sneaker Shoes With Waterproof S...",
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Sneakers For Men',
 "White casual, gym,training & Running sneakers for men's...",
 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...',
 'Shuffle RES Sneakers For Men',
 'Buzz Sneakers For Men',
 'Stylish & Trending Lifestyle Casual Sneakers For Men',
 'Fashionable Canvas Casual Partywear Outdoor Sneakers wh...',
 'Sneakers For Men',
 'Harrow Wns Sneakers For Women',
 'Zod Runner V3 Sneakers For Men',
 'Buzz Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'luxuryfashion fashionable casual sneaker shoes white Sn...',
 'PANAL Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Lifestyle Casual Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Lattest Sneakers Shoe Sneakers For Men',
 'JUMP-02 Sneakers For Men',
 'Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily...',
 'Sneakers For Men',
 'Men White Blue Colourblocked Chunky Sneakers Sneakers F...',
 'Men Retro Basket Ball Sneakers Sneakers For Men',
 'Mesh Lightweight | Comfort |Premium | Trendy | Summer &...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'CLARKIN Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Zod Runner V3 Sneakers For Men',
 'Buzz Sneakers For Men',
 'Sneaker for Mens | Casual Shoes | Men Shoes Sneakers Fo...',
 'Sneakers For Men',
 'Sneakers For Women',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...']

In [109]:
print(len(prod_desc),len(prices),len(Brand))

117 120 120

In [110]:
import pandas as pd
df=pd.DataFrame({'Sneaker_Brand':Brand,'Prices':prices})
df

    Sneaker_Brand  Prices
0           BIRDE    ₹369
1             SFR    ₹399
2          Labbin  ₹1,047
3            PUMA    ₹599
4            PUMA    ₹249
..            ...     ...
115    HIGHLANDER  ₹1,124
116      RapidBox    ₹399
117      Magnolia    ₹299
118          aadi    ₹439
119          aadi    ₹399

[120 rows x 2 columns]

# A python program to Scrape data for Top 100 Quotes of All Time.
The  following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
a) Quote
b) Author 
c) Type Of Quotes

In [114]:
driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get('https://www.azquotes.com/')

In [ ]:
# click the Top Quote 
quote=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
quote.click()

In [25]:
top_quote=[]
start=0
end=10
for page in range(start,end):
    Quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in Quote:
        top_quote.append(i.text)
next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
next_button.click()

In [42]:
#top_quote

In [35]:
# scraping Author
author=[]
start=0
end=10
for page in range(start,end):
    Author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in Author:
        author.append(i.text)
next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
next_button.click()

In [41]:
author

In [33]:
#scraping Type of Quote
quote_type=[]
start=0
end=10
for page in range(start,end):
    t=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in t:
        quote_type.append(i.text)
next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
next_button.click()

In [40]:
quote_type

In [38]:
#printing length
print(len(quote_type),len(author),len(top_quote))

1000 1000 1000

In [39]:
#Making DataFrame
import pandas as pd
df=pd.DataFrame({'TOP_QUOTE':top_quote,'QUOTE_TYPE':quote_type,'AUTHOR':author})
df

,TOP_QUOTE,QUOTE_TYPE,AUTHOR
0,Can words describe the fragrance of the very b...,"Inspirational, Motivational, Positive",Lucille Ball
1,Faith is to believe what you do not see; the r...,"Motivational, Happiness, Letting Go",Abraham Lincoln
2,"When everything seems to be going against you,...","Inspirational, Motivational, Positive",Albert Schweitzer
3,"I have found that if you love life, life will ...","Encouraging, Basketball, Uplifting",Napoleon Hill
4,To disarm the people... was the best and most ...,"Inspirational, Positive, Wisdom",Norman Vincent Peale
...,...,...,...
995,"When one door closes, another opens; but we of...","Motivational, Moving On, Success",Leo Buscaglia
996,"Don't find fault, find a remedy.","Inspirational, Strength, Strong",Aristotle
997,I used to think the worst thing in life was to...,"Funny, Thanksgiving, Holiday",Jack Welch
998,Friends and good manners will carry you where ...,"Hate, Lying, Media",Plutarch
999,"If you want to make a permanent change, stop f...","Fashion, Eyebrows, Icons",Jim Rohn

# A python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.

1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [ ]:
driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")

In [138]:
# scrap the web page
driver.get('https://www.jagranjosh.com/')

In [140]:
# click on g.k option
option=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
option.click()

In [142]:
# Then click on List of all Prime Minister of India
click_on_PM=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
click_on_PM.click()

In [161]:
# scrap the name of Prime Minister
pm=[]
p=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in p:
    pm.append(i.text)

In [162]:
pm

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi',
 'Narendra Modi']

In [166]:
#scrap the Born-death Date
date=[]
d=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in d:
    date.append(i.text)

In [167]:
date

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)',
 '(born 1950)']

In [170]:
#scrap the Terms of Offices
terms_of_office=[]
t=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p/span')
for i in t[0:19]:
    terms_of_office.append(i.text)

In [171]:
terms_of_office

['15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 '28 July 1979 to 14 January 1980',
 '170 days',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 '2 December 1989 to 10 November 1990',
 '343 days',
 '10 November 1990 to 21 June 1991']

In [159]:
#scrap Remark
remark=[]
r=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in r:
    remark.append(i.text)

In [160]:
remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from South India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures',
 'First non-congress PM with two consecutive tenures']

In [172]:
print(len(pm),len(remark),len(date),len(terms_of_office))

19 19 19 19

In [175]:
#create a DataFrame
import pandas as pd
df=pd.DataFrame({'PRIME_MINISTER':pm,'BORN_DEATH-DATE':date,'TERMS_OF_OFFICE':terms_of_office,'REMARK':remark})

In [176]:
df

,PRIME_MINISTER,BORN_DEATH-DATE,TERMS_OF_OFFICE,REMARK
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"16 years, 286 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"27 May 1964 to 9 June 1964,",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),13 days,-
4,Indira Gandhi,(1917–1984),9 June 1964 to 11 January 1966,First female Prime Minister of India
5,Morarji Desai,(1896–1995),"1 year, 216 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),24 January 1966 to 24 March 1977,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"11 years, 59 days",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),24 March 1977 to 28 July 1979,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),"2 year, 126 days",First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),28 July 1979 to 14 January 1980,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),170 days,First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),14 January 1980 to 31 October 1984,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),"4 years, 291 days",He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),31 October 1984 to 2 December 1989,------
15,Atal Bihari Vajpayee,(1924-2018),"5 years, 32 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),2 December 1989 to 10 November 1990,First Sikh PM
17,Narendra Modi,(born 1950),343 days,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),10 November 1990 to 21 June 1991,First non-congress PM with two consecutive ten...

# scraping first 10 laptop data
After setting the filters("IntelCorei7") scrape first 10 laptops data. We have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get('https://www.amazon.in/')

In [142]:
# search laptop by entering
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [143]:
# click on search button
button=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
button.click()

In [145]:
#Apply filter
# click checkbox of intelCorei7
#by applying Full Path
c=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[9]/li/span/a/span')

In [146]:
#now check the box
c.click()

In [147]:
#scraping Laptop titles
title=[]
laptop=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptop[0:10]:
    title.append(i.text)

In [103]:
title

In [161]:
#scraping Laptop Ratings
rating=[]
r=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in r[0:10]:
    rating.append(i.text)

In [162]:
rating

['18', '3', '6', '326', '492', '163', '10', '67', '53', '17']

In [163]:
#scraping Laptop price
price=[]
p=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in p[0:10]:
    price.append(i.text)

In [104]:
price

In [165]:
print(len(title),len(price),len(rating))

10 10 10

In [108]:
import pandas as pd
df=pd.DataFrame({'Laptop_title':title,'Ratings':rating,'Price':price})
df

                                        Laptop_title Ratings     Price
0  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...      18    98,990
1  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...       3  1,15,990
2  Acer Predator Helios Neo 16 Gaming Laptop 13th...       6  1,29,990
3  HP Victus Gaming Latest 12th Gen Intel Core i7...     326    90,990
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     492    84,999
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     163    93,990
6  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...      67    79,990
7  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...      53  1,03,990
8  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...      17    84,990
9  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...      80    93,990

# Scrape 100 reviews data from flipkart.com for iphone11 phone.
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART


1. Rating
2. Review summary
3. Full review

In [127]:
driver=webdriver.Chrome(r"C:\Users\A\Desktop\mansi\New folder\chromedriver_win32.zip\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")

In [128]:
# get the web page
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [129]:
#scraping first 100 Reviews
r_summary=[]
start=0
end=10
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review[0:100]:
        r_summary.append(i.text)
        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [102]:
r_summary

In [136]:
#scraping  first 100 Full_Review
full_review=[]
start=0
end=10
for page in range(start,end):
    full_rw=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_rw[0:100]:
        full_review.append(i.text)
        
            
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [101]:
full_review

In [132]:
#scraping  first 100 Rating
rating=[]
start=0
end=10
for page in range(start,end):
    rt=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for ratings in rt[0:100]:
            rating.append(ratings.text)
            
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [100]:
rating

In [138]:
print(len(full_review),len(rating),len(r_summary))

100 100 100

In [139]:
import pandas as pd
df=pd.DataFrame({'FULL_REVIEW':full_review,'RATING':rating,'REVIEW':r_summary})
df

,FULL_REVIEW,RATING,REVIEW
0,This is my first iOS phone. I am very happy wi...,5,Simply awesome
1,Best and amazing product.....phone looks so pr...,5,Perfect product!
2,"i11 is worthy to buy, too much happy with the ...",5,Best in the market!
3,It’s a must buy who is looking for an upgrade ...,4,Value-for-money
4,So far it’s been an AMAZING experience coming ...,5,Highly recommended
...,...,...,...
95,Value for money❤️❤️\nIts awesome mobile phone ...,5,Worth every penny
96,iphone 11 is a very good phone to buy only if ...,4,Pretty good
97,"Amazing camera quality as expected, battery al...",5,Perfect product!
98,Just got this iphone 11\nAnd it is most powerf...,5,Highly recommended
99,It is just awesome mobile for this price from ...,5,Great product